@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --mobile: 375px;
  --desktop: 1440px;
  --font-size: 16px;
  --font-family: "Plus Jakarta Sans", sans-serif;
  --bold: 700;
  --semi-bold: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  caret-color: var(--lime);
  accent-color: var(--lime);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: var(--Slate-100);
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
body .dashboard {
  max-width: 1330px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 12.5%;
  background: var(--White);
  border-radius: 20px;
}
body .dashboard .calculator {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  padding: 30px;
}
body .dashboard .calculator .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .dashboard .calculator .header .headline {
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--Slate-900);
}
body .dashboard .calculator .header .clear {
  background: transparent;
  color: var(--Slate-700);
  text-decoration: underline;
  font-size: var(--font-size);
  transition: all 0.2s ease-in-out;
  text-underline-offset: 3px;
  cursor: pointer;
}
body .dashboard .calculator .header .clear:hover {
  color: var(--Slate-900);
  transition: all 0.2s ease-in-out;
}
body .dashboard .calculator .controls {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
}
body .dashboard .calculator .controls .group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
body .dashboard .calculator .controls .input-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  flex: 1;
  justify-content: center;
  align-items: start;
}
body .dashboard .calculator .controls .input-group label,
body .dashboard .calculator .controls .input-group p {
  color: var(--Slate-700);
  font-weight: var(--semi-bold);
}
body .dashboard .calculator .controls .input-group input {
  font-weight: var(--bold);
  font-size: var(--font-size);
  color: var(--Slate-900);
  border: 1px solid var(--Slate-700);
  border-radius: 5px;
  padding: 15px;
  max-width: 100%;
  min-width: 180px;
  width: 100%;
}
body .dashboard .calculator .controls .input-group input:invalid {
  border-color: var(red);
}
body .dashboard .calculator .controls .input-group input:focus-visible {
  border-color: var(--lime);
}
body .dashboard .calculator .controls .morgage-type {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: start;
  justify-content: center;
}
body .dashboard .calculator .controls .morgage-type p {
  color: var(--Slate-700);
  font-weight: var(--semi-bold);
  padding-bottom: 5px;
}
body .dashboard .calculator .controls .morgage-type label {
  color: var(--Slate-900);
}
body .dashboard .calculator .controls .morgage-type .radio-group {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  border: 1px solid var(--Slate-700);
  border-radius: 5px;
  padding: 15px;
  font-weight: var(--bold);
}
body .dashboard .calculator .controls .morgage-type .radio-group input[type=radio] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: var(--Slate-700);
  width: 16px;
  height: 16px;
  border: 1px solid var(--Slate-700);
  border-radius: 50%;
}
body .dashboard .calculator .controls .morgage-type .radio-group input[type=radio]:checked {
  border-color: var(--lime);
  position: relative;
}
body .dashboard .calculator .controls .morgage-type .radio-group input[type=radio]:checked::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  background: var(--lime);
  border-radius: 5px;
}
body .dashboard .calculator .controls .morgage-type .radio-group:has(input:checked) {
  border-color: var(--lime);
  background-color: hsla(61, 70%, 52%, 0.2);
}
body .dashboard .calculator .controls .btn {
  background: var(--lime);
  border-radius: 30px;
  padding: 14px 25px;
  font-weight: var(--bold);
  text-transform: capitalize;
  max-width: fit-content;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--Slate-900);
  font-weight: var(--bold);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
body .dashboard .calculator .controls .btn:hover {
  background: hsla(61, 70%, 52%, 0.6);
}
body .dashboard .calculator .controls .btn:active {
  background: var(--lime);
}
body .dashboard .calculator .controls .btn svg {
  fill: var(--Slate-900);
}
body .dashboard .preview {
  background: var(--Slate-900);
  color: white;
  border-radius: 0 20px 20px 80px;
  display: flex;
  padding: 40px;
}
body .dashboard .preview .placeholder {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
body .dashboard .preview .placeholder h1 {
  font-weight: var(--bold);
  font-size: 18px;
}
body .dashboard .preview .placeholder p {
  color: var(--Slate-300);
}
body .dashboard .preview .result {
  text-align: start;
  display: none;
  flex-flow: column nowrap;
  gap: 30px;
  align-items: baseline;
  position: relative;
  z-index: 1;
}
body .dashboard .preview .result h1 {
  font-weight: var(--bold);
  font-size: 18px;
}
body .dashboard .preview .result p {
  color: var(--Slate-300);
}
body .dashboard .preview .result .amounts {
  background: hsl(201, 55%, 10%);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  position: relative;
}
body .dashboard .preview .result .amounts::before {
  content: "";
  background: var(--lime);
  position: absolute;
  inset: 0;
  margin: auto;
  transform: translateY(-3px);
  border-radius: 6px;
  padding-top: 20px;
  z-index: -1;
}
body .dashboard .preview .result .amounts div {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  width: 100%;
}
body .dashboard .preview .result .amounts div:first-child {
  border-bottom: 1px solid var(--Slate-700);
  padding-bottom: 30px;
}
body .dashboard .preview .result .amounts div:last-child {
  padding-top: 30px;
}
body .dashboard .preview .result .amounts div .repayment {
  font-size: 48px;
  color: var(--lime);
  font-weight: var(--bold);
}
body .dashboard .preview .result .amounts div .total {
  color: var(--White);
  font-weight: var(--bold);
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */
